In [1]:
import pandas as pd
import numpy as np
import sklearn.model_selection
import re

In [2]:
df = pd.read_csv("properties-unique.csv")

In [3]:
df

,city,prop_type,prop_size,prop_desc,prop_price
0,reading,1,"1,340 Sq Ft","3rd Floor Office With Entry Phone System, Thir...","- £340,000.00"
1,reading,1,"685 to 2,100 Sq Ft","Unit 1 Cutbush Court, Danehill, Reading, RG6 4UW","- £550,000.00"
2,reading,1,"2,352 Sq Ft","Commercial Property Investment, Evolution Hous...",NaN
3,reading,1,"2,936 Sq Ft","Bracknell Branch, Staverton House, 3-5 Eastham...",NaN
4,reading,1,"1,534 Sq Ft","Bracknell Branch, 16 Wellington Business Park,...",NaN
...,...,...,...,...,...
1337,swindon,6,NaN,FOR SALE BY PUBLIC AUCTION unless previously s...,NaN
1338,swindon,6,NaN,"Olivers Court, Shepherds Spring Lane, Andover,...",NaN
1339,swindon,6,"22,526 Sq Ft","Willow Court, Minns Business Park, Oxford, OX2...","- £8,500,000.00"
1340,swindon,6,82799 Sq Ft,Residential development land with planning per...,NaN
1341,swindon,6,"1,716 Sq Ft","82 Godstow Road, Oxford, OX2 8NY",NaN

# Dealing with Null values

In [4]:
df.isnull().sum(axis=0)

city            0
prop_type       0
prop_size      38
prop_desc       0
prop_price    718
dtype: int64

In [5]:
#Here we drop the rows with null values
df = df.dropna()

In [6]:
df

,city,prop_type,prop_size,prop_desc,prop_price
0,reading,1,"1,340 Sq Ft","3rd Floor Office With Entry Phone System, Thir...","- £340,000.00"
1,reading,1,"685 to 2,100 Sq Ft","Unit 1 Cutbush Court, Danehill, Reading, RG6 4UW","- £550,000.00"
7,reading,1,461 Sq Ft,"Parkgate House, 185-187 London Road, Camberley...","- £210,000.00"
10,reading,1,"3,502 Sq Ft","Office Building, May Suit Other Uses, WG House...","- £900,000.00"
11,reading,1,"2,034 Sq Ft","Offices Suitable For Alternative Uses, 4 Newma...","- £457,500.00"
...,...,...,...,...,...
1327,bristol,6,"1 to 10,944 Sq Ft",43 Bed Student Accommodation Investment Opport...,"- £4,950,000.00"
1329,bristol,6,"3,000 Sq Ft","56 Staple Hill Road, Bristol, BS16 5BS","- £260,000.00"
1334,bristol,6,"4,014 Sq Ft",For Sale - Student Development Opportunity in ...,"- £600,000.00"
1336,swindon,6,"1,012 Sq Ft","98 Ock Street, Abingdon, OX14 5DH","- £200,000.00"
1339,swindon,6,"22,526 Sq Ft","Willow Court, Minns Business Park, Oxford, OX2...","- £8,500,000.00"

# Feature engineering the data

In [7]:
df['prop_price'] = df['prop_price'].str.replace('- £','')

/Users/asadimam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df

,city,prop_type,prop_size,prop_desc,prop_price
0,reading,1,"1,340 Sq Ft","3rd Floor Office With Entry Phone System, Thir...","340,000.00"
1,reading,1,"685 to 2,100 Sq Ft","Unit 1 Cutbush Court, Danehill, Reading, RG6 4UW","550,000.00"
7,reading,1,461 Sq Ft,"Parkgate House, 185-187 London Road, Camberley...","210,000.00"
10,reading,1,"3,502 Sq Ft","Office Building, May Suit Other Uses, WG House...","900,000.00"
11,reading,1,"2,034 Sq Ft","Offices Suitable For Alternative Uses, 4 Newma...","457,500.00"
...,...,...,...,...,...
1327,bristol,6,"1 to 10,944 Sq Ft",43 Bed Student Accommodation Investment Opport...,"4,950,000.00"
1329,bristol,6,"3,000 Sq Ft","56 Staple Hill Road, Bristol, BS16 5BS","260,000.00"
1334,bristol,6,"4,014 Sq Ft",For Sale - Student Development Opportunity in ...,"600,000.00"
1336,swindon,6,"1,012 Sq Ft","98 Ock Street, Abingdon, OX14 5DH","200,000.00"
1339,swindon,6,"22,526 Sq Ft","Willow Court, Minns Business Park, Oxford, OX2...","8,500,000.00"

In [9]:
df['prop_price'] = df['prop_price'].str.replace(',','')

/Users/asadimam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
df

,city,prop_type,prop_size,prop_desc,prop_price
0,reading,1,"1,340 Sq Ft","3rd Floor Office With Entry Phone System, Thir...",340000.00
1,reading,1,"685 to 2,100 Sq Ft","Unit 1 Cutbush Court, Danehill, Reading, RG6 4UW",550000.00
7,reading,1,461 Sq Ft,"Parkgate House, 185-187 London Road, Camberley...",210000.00
10,reading,1,"3,502 Sq Ft","Office Building, May Suit Other Uses, WG House...",900000.00
11,reading,1,"2,034 Sq Ft","Offices Suitable For Alternative Uses, 4 Newma...",457500.00
...,...,...,...,...,...
1327,bristol,6,"1 to 10,944 Sq Ft",43 Bed Student Accommodation Investment Opport...,4950000.00
1329,bristol,6,"3,000 Sq Ft","56 Staple Hill Road, Bristol, BS16 5BS",260000.00
1334,bristol,6,"4,014 Sq Ft",For Sale - Student Development Opportunity in ...,600000.00
1336,swindon,6,"1,012 Sq Ft","98 Ock Street, Abingdon, OX14 5DH",200000.00
1339,swindon,6,"22,526 Sq Ft","Willow Court, Minns Business Park, Oxford, OX2...",8500000.00

In [11]:
df['prop_size'] = df['prop_size'].str.replace('Sq Ft','')

/Users/asadimam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
df

,city,prop_type,prop_size,prop_desc,prop_price
0,reading,1,"1,340","3rd Floor Office With Entry Phone System, Thir...",340000.00
1,reading,1,"685 to 2,100","Unit 1 Cutbush Court, Danehill, Reading, RG6 4UW",550000.00
7,reading,1,461,"Parkgate House, 185-187 London Road, Camberley...",210000.00
10,reading,1,"3,502","Office Building, May Suit Other Uses, WG House...",900000.00
11,reading,1,"2,034","Offices Suitable For Alternative Uses, 4 Newma...",457500.00
...,...,...,...,...,...
1327,bristol,6,"1 to 10,944",43 Bed Student Accommodation Investment Opport...,4950000.00
1329,bristol,6,"3,000","56 Staple Hill Road, Bristol, BS16 5BS",260000.00
1334,bristol,6,"4,014",For Sale - Student Development Opportunity in ...,600000.00
1336,swindon,6,"1,012","98 Ock Street, Abingdon, OX14 5DH",200000.00
1339,swindon,6,"22,526","Willow Court, Minns Business Park, Oxford, OX2...",8500000.00

In [13]:
# Splitting the size column into lower and upper limit
new_size = df["prop_size"].str.split("to", n = 1, expand = True)

In [14]:
new_size

            0         1
0      1,340       None
1        685     2,100
7        461       None
10     3,502       None
11     2,034       None
...       ...       ...
1327       1    10,944
1329   3,000       None
1334   4,014       None
1336   1,012       None
1339  22,526       None

[603 rows x 2 columns]

In [15]:
# making separate lower limit from new data frame 
df["prop_size(lower)"]= new_size[0]

/Users/asadimam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
df

,city,prop_type,prop_size,prop_desc,prop_price,prop_size(lower)
0,reading,1,"1,340","3rd Floor Office With Entry Phone System, Thir...",340000.00,"1,340"
1,reading,1,"685 to 2,100","Unit 1 Cutbush Court, Danehill, Reading, RG6 4UW",550000.00,685
7,reading,1,461,"Parkgate House, 185-187 London Road, Camberley...",210000.00,461
10,reading,1,"3,502","Office Building, May Suit Other Uses, WG House...",900000.00,"3,502"
11,reading,1,"2,034","Offices Suitable For Alternative Uses, 4 Newma...",457500.00,"2,034"
...,...,...,...,...,...,...
1327,bristol,6,"1 to 10,944",43 Bed Student Accommodation Investment Opport...,4950000.00,1
1329,bristol,6,"3,000","56 Staple Hill Road, Bristol, BS16 5BS",260000.00,"3,000"
1334,bristol,6,"4,014",For Sale - Student Development Opportunity in ...,600000.00,"4,014"
1336,swindon,6,"1,012","98 Ock Street, Abingdon, OX14 5DH",200000.00,"1,012"
1339,swindon,6,"22,526","Willow Court, Minns Business Park, Oxford, OX2...",8500000.00,"22,526"

In [17]:
# making separate lower limit from new data frame 
df["prop_size(upper)"]= new_size[1]

/Users/asadimam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
df

,city,prop_type,prop_size,prop_desc,prop_price,prop_size(lower),prop_size(upper)
0,reading,1,"1,340","3rd Floor Office With Entry Phone System, Thir...",340000.00,"1,340",None
1,reading,1,"685 to 2,100","Unit 1 Cutbush Court, Danehill, Reading, RG6 4UW",550000.00,685,"2,100"
7,reading,1,461,"Parkgate House, 185-187 London Road, Camberley...",210000.00,461,None
10,reading,1,"3,502","Office Building, May Suit Other Uses, WG House...",900000.00,"3,502",None
11,reading,1,"2,034","Offices Suitable For Alternative Uses, 4 Newma...",457500.00,"2,034",None
...,...,...,...,...,...,...,...
1327,bristol,6,"1 to 10,944",43 Bed Student Accommodation Investment Opport...,4950000.00,1,"10,944"
1329,bristol,6,"3,000","56 Staple Hill Road, Bristol, BS16 5BS",260000.00,"3,000",None
1334,bristol,6,"4,014",For Sale - Student Development Opportunity in ...,600000.00,"4,014",None
1336,swindon,6,"1,012","98 Ock Street, Abingdon, OX14 5DH",200000.00,"1,012",None
1339,swindon,6,"22,526","Willow Court, Minns Business Park, Oxford, OX2...",8500000.00,"22,526",None

In [19]:
df.drop(columns='prop_size',inplace=True)

/Users/asadimam/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [20]:
df

,city,prop_type,prop_desc,prop_price,prop_size(lower),prop_size(upper)
0,reading,1,"3rd Floor Office With Entry Phone System, Thir...",340000.00,"1,340",None
1,reading,1,"Unit 1 Cutbush Court, Danehill, Reading, RG6 4UW",550000.00,685,"2,100"
7,reading,1,"Parkgate House, 185-187 London Road, Camberley...",210000.00,461,None
10,reading,1,"Office Building, May Suit Other Uses, WG House...",900000.00,"3,502",None
11,reading,1,"Offices Suitable For Alternative Uses, 4 Newma...",457500.00,"2,034",None
...,...,...,...,...,...,...
1327,bristol,6,43 Bed Student Accommodation Investment Opport...,4950000.00,1,"10,944"
1329,bristol,6,"56 Staple Hill Road, Bristol, BS16 5BS",260000.00,"3,000",None
1334,bristol,6,For Sale - Student Development Opportunity in ...,600000.00,"4,014",None
1336,swindon,6,"98 Ock Street, Abingdon, OX14 5DH",200000.00,"1,012",None
1339,swindon,6,"Willow Court, Minns Business Park, Oxford, OX2...",8500000.00,"22,526",None

In [21]:
df['prop_size(lower)'] = df['prop_size(lower)'].str.replace(',','')

/Users/asadimam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
df

,city,prop_type,prop_desc,prop_price,prop_size(lower),prop_size(upper)
0,reading,1,"3rd Floor Office With Entry Phone System, Thir...",340000.00,1340,None
1,reading,1,"Unit 1 Cutbush Court, Danehill, Reading, RG6 4UW",550000.00,685,"2,100"
7,reading,1,"Parkgate House, 185-187 London Road, Camberley...",210000.00,461,None
10,reading,1,"Office Building, May Suit Other Uses, WG House...",900000.00,3502,None
11,reading,1,"Offices Suitable For Alternative Uses, 4 Newma...",457500.00,2034,None
...,...,...,...,...,...,...
1327,bristol,6,43 Bed Student Accommodation Investment Opport...,4950000.00,1,"10,944"
1329,bristol,6,"56 Staple Hill Road, Bristol, BS16 5BS",260000.00,3000,None
1334,bristol,6,For Sale - Student Development Opportunity in ...,600000.00,4014,None
1336,swindon,6,"98 Ock Street, Abingdon, OX14 5DH",200000.00,1012,None
1339,swindon,6,"Willow Court, Minns Business Park, Oxford, OX2...",8500000.00,22526,None

In [24]:
df

,city,prop_type,prop_desc,prop_price,prop_size(lower),prop_size(upper)
0,reading,1,"3rd Floor Office With Entry Phone System, Thir...",340000.00,1340,None
1,reading,1,"Unit 1 Cutbush Court, Danehill, Reading, RG6 4UW",550000.00,685,"2,100"
7,reading,1,"Parkgate House, 185-187 London Road, Camberley...",210000.00,461,None
10,reading,1,"Office Building, May Suit Other Uses, WG House...",900000.00,3502,None
11,reading,1,"Offices Suitable For Alternative Uses, 4 Newma...",457500.00,2034,None
...,...,...,...,...,...,...
1327,bristol,6,43 Bed Student Accommodation Investment Opport...,4950000.00,1,"10,944"
1329,bristol,6,"56 Staple Hill Road, Bristol, BS16 5BS",260000.00,3000,None
1334,bristol,6,For Sale - Student Development Opportunity in ...,600000.00,4014,None
1336,swindon,6,"98 Ock Street, Abingdon, OX14 5DH",200000.00,1012,None
1339,swindon,6,"Willow Court, Minns Business Park, Oxford, OX2...",8500000.00,22526,None

In [25]:
desc = df['prop_desc']
postcode = []
for a in desc:
    pc= re.findall(r'\b[A-Z]{1,2}[0-9][A-Z0-9]? [0-9][ABD-HJLNP-UW-Z]{2}\b', str(a))
    postcode.append(pc)

In [26]:
postcode

[['RG1 4SJ'],
 ['RG6 4UW'],
 ['GU15 3JS'],
 ['HP12 4TY'],
 ['HP12 3RE'],
 ['GU14 6BU'],
 ['HP13 5RE'],
 ['SL9 7QE'],
 ['OX14 3PX'],
 ['OX14 5DH'],
 ['UB8 2RZ'],
 ['KT14 7LF'],
 ['KT14 7LF'],
 ['GU2 7NS'],
 ['GU1 4LY'],
 ['TW17 9HY'],
 ['GU7 2QF'],
 ['KT13 9DZ'],
 ['HP5 2AH'],
 ['HP5 2AH'],
 ['HP5 2AH'],
 ['GU27 2JE'],
 ['GU5 9QE'],
 ['KT22 7TW'],
 ['UB8 2RZ'],
 ['SL9 7QE'],
 ['TW17 9HY'],
 ['KT13 9DZ'],
 ['KT14 7LF'],
 ['KT14 7LF'],
 ['HP12 4TY'],
 ['HP12 3RE'],
 ['HP13 5RE'],
 ['GU15 3JS'],
 ['W4 5JQ'],
 ['HP5 2AH'],
 ['HP5 2AH'],
 ['HP5 2AH'],
 ['HA8 7EJ'],
 ['RG6 4UW'],
 ['SW18 1GG'],
 ['RG1 4SJ'],
 ['SW18 4JB'],
 ['W8 5QG'],
 ['SW18 4AG'],
 ['GU14 6BU'],
 ['SW18 1FY'],
 ['AL2 3TA'],
 ['SW19 1RD'],
 ['KT22 7TW'],
 ['SW19 1SD'],
 ['WD6 1FJ'],
 ['SW11 3GL'],
 ['SW11 3GL'],
 ['WD6 1RN'],
 ['GU1 4LY'],
 ['GU2 7NS'],
 ['SW12 8SG'],
 ['SW4 6HB'],
 ['N20 0QP'],
 ['SW1P 3BU'],
 ['EN5 5YL'],
 ['N20 0LH'],
 ['N20 0LH'],
 ['SM2 6BX'],
 ['SE1 7JN'],
 ['GU5 9QE'],
 ['SE1 0ED'],
 ['GU7 2QF'],
 ['CR0 4NG'],
 ['CR7 8JZ'],
 ['IG8 7LA'],
 ['GU27 2JE'],
 ['HP12 4TY'],
 ['SL9 7QE'],
 ['HP12 3RE'],
 ['HP13 5RE'],
 ['UB8 2RZ'],
 ['RG6 4UW'],
 ['RG1 4SJ'],
 ['GU15 3JS'],
 ['HP5 2AH'],
 ['HP5 2AH'],
 ['HP5 2AH'],
 ['TW17 9HY'],
 ['KT14 7LF'],
 ['KT14 7LF'],
 ['KT13 9DZ'],
 ['GU14 6BU'],
 ['W4 5JQ'],
 ['HA8 7EJ'],
 ['AL2 3TA'],
 ['GU1 4LY'],
 ['GU2 7NS'],
 ['WD6 1FJ'],
 ['WD6 1RN'],
 ['KT22 7TW'],
 ['SW18 1GG'],
 ['W8 5QG'],
 ['SW18 4JB'],
 ['SW18 4AG'],
 ['SW18 1FY'],
 ['SW19 1RD'],
 ['SW19 1SD'],
 ['SW11 3GL'],
 ['SW11 3GL'],
 ['GU7 2QF'],
 ['GU5 9QE'],
 ['EN5 5YL'],
 ['SW12 8SG'],
 ['N20 0QP'],
 ['N20 0LH'],
 ['N20 0LH'],
 ['SW4 6HB'],
 ['SW1P 3BU'],
 ['SM2 6BX'],
 ['SE1 7JN'],
 ['SE1 0ED'],
 ['OX14 3PX'],
 ['CR0 4NG'],
 ['CR7 8JZ'],
 ['OX14 5DH'],
 ['GU27 2JE'],
 ['BS2 9QS'],
 ['BS20 0EB'],
 ['GL13 9PB'],
 ['TA9 3AE'],
 ['CF23 8RS'],
 ['CF11 9AF'],
 ['GL2 4NF'],
 ['GL2 4LY'],
 ['OX14 5DH'],
 ['OX14 3PX'],
 ['RG4 5AL'],
 ['RG1 8JP'],
 ['RG2 0JT'],
 ['RG2 0RX'],
 ['RG26 5EG'],
 ['HP12 1RG'],
 ['SL1 3TD'],
 ['SL3 0QT'],
 ['UB8 2RZ'],
 ['UB8 2RZ'],
 ['UB8 2RZ'],
 ['UB8 2RZ'],
 ['KT14 7LF'],
 ['HP5 2NW'],
 ['UB2 5FB'],
 ['UB2 5FB'],
 ['UB2 5FB'],
 ['SP10 3LF'],
 ['UB6 7JF'],
 ['HA0 1BX'],
 ['SL1 3TD'],
 ['SL3 0QT'],
 ['UB8 2RZ'],
 ['UB8 2RZ'],
 ['UB8 2RZ'],
 ['UB8 2RZ'],
 ['UB2 5FB'],
 ['UB2 5FB'],
 ['UB2 5FB'],
 ['KT14 7LF'],
 ['HP12 1RG'],
 ['UB6 7JF'],
 ['HA0 1BX'],
 ['NW10 7RT'],
 ['HA9 0HB'],
 ['NW10 6LD'],
 ['HP5 2NW'],
 ['HA8 7EQ'],
 ['RG4 5AL'],
 ['RG2 0JT'],
 ['SM4 4LZ'],
 ['SM4 4LZ'],
 ['RG2 0RX'],
 ['SM4 4TQ'],
 ['RG1 8JP'],
 ['CR4 4NA'],
 ['CR4 4NA'],
 ['EN5 4LA'],
 ['SM7 1PB'],
 ['N8 9DG'],
 ['CR0 4GE'],
 ['CR2 6AL'],
 ['RG26 5EG'],
 ['N17 9QU'],
 ['AL10 9EW'],
 ['N18 1SQ'],
 ['AL10 9EW'],
 ['RH1 3AS'],
 ['EN3 4SB'],
 ['EN3 4SA'],
 ['EN3 4LE'],
 ['AL7 4TW'],
 ['AL7 4TB'],
 ['AL7 1JA'],
 ['RH1 5DY'],
 ['LU5 5TA'],
 ['EN9 1AF'],
 ['EN9 1AE'],
 ['EN9 1AJ'],
 ['E6 6LP'],
 ['LU2 8DL'],
 ['LU2 8DL'],
 ['LU2 8DL'],
 ['SL1 3TD'],
 ['HP12 1RG'],
 ['SL3 0QT'],
 ['UB8 2RZ'],
 ['UB8 2RZ'],
 ['UB8 2RZ'],
 ['UB8 2RZ'],
 ['RG4 5AL'],
 ['RG2 0JT'],
 ['RG1 8JP'],
 ['UB2 5FB'],
 ['UB2 5FB'],
 ['UB2 5FB'],
 ['RG2 0RX'],
 ['HP5 2NW'],
 ['KT14 7LF'],
 ['UB6 7JF'],
 ['HA0 1BX'],
 ['NW10 7RT'],
 ['HA9 0HB'],
 ['NW10 6LD'],
 ['HA8 7EQ'],
 ['RG26 5EG'],
 ['SM4 4LZ'],
 ['SM4 4LZ'],
 ['SM4 4TQ'],
 ['EN5 4LA'],
 ['CR4 4NA'],
 ['SM7 1PB'],
 ['CR4 4NA'],
 ['N8 9DG'],
 ['AL10 9EW'],
 ['AL10 9EW'],
 ['CR0 4GE'],
 ['LU5 5TA'],
 ['N18 1SQ'],
 ['N17 9QU'],
 ['AL7 4TW'],
 ['AL7 4TB'],
 ['CR2 6AL'],
 ['EN3 4SB'],
 ['EN3 4SA'],
 ['AL7 1JA'],
 ['RH1 3AS'],
 ['EN3 4LE'],
 ['BA1 5NS'],
 ['BS49 4AR'],
 ['BA1 7QH'],
 ['CF3 2ET'],
 ['CF24 5TH'],
 ['SN11 9PX'],
 ['CF11 8AB'],
 ['SN4 7DB'],
 ['SN4 0HT'],
 ['SN4 7DB'],
 ['SN11 9PX'],
 ['SP10 3LF'],
 ['BA1 7QH'],
 ['BA1 5NS'],
 ['RG40 3JJ'],
 ['HP11 2JG'],
 ['HP11 2AG'],
 ['HP13 5HW'],
 ['HP5 1SU'],
 ['TW4 6NF'],
 ['HP5 1XS'],
 ['HA1 2RX', 'HA1 2RX'],
 ['TW4 6NF'],
 ['HP11 2AG'],
 ['HP11 2JG'],
 ['HP13 5HW'],
 ['HA1 2RX', 'HA1 2RX'],
 ['HP5 1SU'],
 ['RG40 3JJ'],
 ['HP5 1XS'],
 ['CR4 4HU'],
 ['SW16 6LQ'],
 ['SM7 2NL'],
 ['SM6 0DW'],
 ['SM6 9AY'],
 ['CR0 2RG'],
 ['CR9 1QS'],
 ['CR2 6ER'],
 ['SE4 2DS'],
 ['EN3 6SD'],
 ['RH6 0HJ'],
 ['HP11 2AG'],
 ['HP11 2JG'],
 ['HP13 5HW'],
 ['RG40 3JJ'],
 ['HP5 1SU'],
 ['TW4 6NF'],
 ['HP5 1XS'],
 ['HA1 2RX', 'HA1 2RX'],
 ['CR4 4HU'],
 ['SW16 6LQ'],
 ['SM7 2NL'],
 ['SM6 0DW'],
 ['SM6 9AY'],
 ['CR0 2RG'],
 ['CR9 1QS'],
 ['CR2 6ER'],
 ['SE4 2DS'],
 ['BS20 0EB'],
 ['BA1 5BW'],
 ['BA11 3NZ'],
 ['BA14 8AA'],
 ['SN15 1EE'],
 ['GL17 9SB'],
 ['SN15 1EE'],
 ['BA14 8AA'],
 ['BA1 5BW'],
 ['GL20 2JA'],
 ['RG40 2AE'],
 ['SL6 9SJ'],
 ['HP11 2HQ'],
 ['HP11 2AG'],
 ['HP11 2DF'],
 ['HP11 2DN'],
 ['OX11 8AD'],
 ['SL1 1DH'],
 ['GU11 1EW'],
 ['GU11 1BY'],
 ['HP9 2HN'],
 ['HP9 2PB'],
 ['SL3 6NT'],
 ['GU9 7NU'],
 ['HP27 0RU'],
 ['GU10 1AA'],
 ['OX14 2HA'],
 ['SL9 9QL'],
 ['GU2 9AA'],
 ['KT13 8AB'],
 ['HP5 3EF'],
 ['UB10 9DA', 'UB10 9DA'],
 ['GU8 5HJ'],
 ['GU7 1EQ'],
 ['TW3 1LR'],
 ['TW11 8EW'],
 ['W7 1HA'],
 ['GU27 2HG'],
 ['GU27 2HD'],
 ['GU27 2JH'],
 ['KT23 4AF'],
 ['GU6 8RL'],
 ['SL1 1DH'],
 ['SL3 6NT'],
 ['SL6 9SJ'],
 ['UB10 9DA', 'UB10 9DA'],
 ['HP9 2HN'],
 ['SL9 9QL'],
 ['HP9 2PB'],
 ['TW3 1LR'],
 ['KT13 8AB'],
 ['W7 1HA'],
 ['HP11 2AG'],
 ['HP11 2HQ'],
 ['HP11 2DF'],
 ['HP11 2DN'],
 ['TW11 8EW'],
 ['RG40 2AE'],
 ['W4 4HH'],
 ['HP5 3EF'],
 ['W6 9NH'],
 ['SW15 5QJ'],
 ['NW9 7FA'],
 ['HP27 0RU'],
 ['SW15 2PU'],
 ['NW2 3JG'],
 ['SW18 1LP'],
 ['NW11 9ES'],
 ['SW20 9NE'],
 ['GU2 9AA'],
 ['KT23 4AF'],
 ['SW17 0PD'],
 ['SM1 3EW'],
 ['GU11 1BY'],
 ['GU11 1EW'],
 ['KT17 3LB'],
 ['KT17 3LB'],
 ['CR4 2AJ'],
 ['GU10 1AA'],
 ['SW16 1BJ'],
 ['EN5 5JG'],
 ['SW16 4DE'],
 ['CR0 3EU'],
 ['N15 3LA'],
 ['GU7 1EQ'],
 ['GU9 7NU'],
 ['SM7 3PP'],
 ['CR7 8RW'],
 ['CR0 1QB'],
 ['SE15 2EZ'],
 ['GU8 5HJ'],
 ['CR0 2FT'],
 ['AL10 0JU'],
 ['EN2 6ED'],
 ['EN1 1YT'],
 ['SE10 8LR'],
 ['GU6 8RL'],
 ['EN3 4ER'],
 ['GU6 7AA'],
 ['GU6 7AA'],
 ['EN3 7NG'],
 ['IG8 9EF'],
 ['LU1 1BW', 'LU1 1BW'],
 ['LU4 8HZ', 'LU4 8HZ'],
 ['IG4 5EP'],
 ['SE9 2DR'],
 ['LU3 2LU', 'LU3 2LU'],
 ['GU27 2HD'],
 ['GU27 2HG'],
 ['GU27 2JH'],
 ['OX11 8AD'],
 ['SG14 1JA'],
 ['SL6 9SJ'],
 ['SL1 1DH'],
 ['SL3 6NT'],
 ['HP9 2HN'],
 ['HP9 2PB'],
 ['HP11 2AG'],
 ['HP11 2HQ'],
 ['HP11 2DF'],
 ['HP11 2DN'],
 ['SL9 9QL'],
 ['RG40 2AE'],
 ['UB10 9DA', 'UB10 9DA'],
 ['HP27 0RU'],
 ['HP5 3EF'],
 ['KT13 8AB'],
 ['TW3 1LR'],
 ['W7 1HA'],
 ['TW11 8EW'],
 ['GU11 1BY'],
 ['GU11 1EW'],
 ['W4 4HH'],
 ['GU2 9AA'],
 ['GU10 1AA'],
 ['NW9 7FA'],
 ['W6 9NH'],
 ['SW15 5QJ'],
 ['NW2 3JG'],
 ['GU9 7NU'],
 ['SW15 2PU'],
 ['KT23 4AF'],
 ['NW11 9ES'],
 ['SW18 1LP'],
 ['SW20 9NE'],
 ['SW17 0PD'],
 ['GU7 1EQ'],
 ['GU8 5HJ'],
 ['SM1 3EW'],
 ['OX11 8AD'],
 ['KT17 3LB'],
 ['KT17 3LB'],
 ['EN5 5JG'],
 ['CR4 2AJ'],
 ['SW16 1BJ'],
 ['SW16 4DE'],
 ['N15 3LA'],
 ['CR0 3EU'],
 ['AL10 0JU'],
 ['SM7 3PP'],
 ['OX14 2HA'],
 ['GU6 8RL'],
 ['CR7 8RW'],
 ['GU6 7AA'],
 ['GU6 7AA'],
 ['CR0 1QB'],
 ['SE15 2EZ'],
 ['LU1 1BW', 'LU1 1BW'],
 ['LU4 8HZ', 'LU4 8HZ'],
 ['EN2 6ED'],
 ['EN1 1YT'],
 ['CR0 2FT'],
 ['LU3 2LU', 'LU3 2LU'],
 ['EN3 4ER'],
 ['SE10 8LR'],
 ['GU27 2HD'],
 ['GU27 2HG'],
 ['GU27 2JH'],
 ['EN3 7NG'],
 ['BS2 0BW'],
 ['BS2 8SF'],
 ['BS15 3QY'],
 ['BA2 3ET'],
 ['BA1 2LP'],
 ['BA1 5HR'],
 [],
 ['NP16 5ZT'],
 ['BS22 8AA'],
 ['BA10 0EG'],
 ['CF14 3LY'],
 ['CF14 3LZ'],
 ['CF5 1JJ'],
 ['CF5 2YG'],
 ['SN1 1JL'],
 ['SN1 1JL'],
 ['SN8 1SQ'],
 ['OX11 8AD'],
 ['OX14 2HA'],
 ['BA1 5HR'],
 [],
 ['BA1 2LP'],
 ['BA2 3ET'],
 ['SL1 5BS'],
 ['HP11 1QU'],
 ['GU10 5JH'],
 ['UB8 2HT'],
 ['SL1 5BS'],
 ['UB8 2HT'],
 ['HP11 1QU'],
 ['SW13 9ER'],
 ['SW6 1TL', 'SW6 1TL'],
 ['KT17 1RX'],
 ['SM5 3RL'],
 ['SW9 8QH'],
 ['N4 1RU', 'N4 1RU'],
 ['CR0 4QR'],
 ['CR0 1DU'],
 ['GU10 5JH'],
 ['SE8 3ED'],
 ['SE18 6UF'],
 ['SL1 5BS'],
 ['HP11 1QU'],
 ['UB8 2HT'],
 ['SW13 9ER'],
 ['SW6 1TL', 'SW6 1TL'],
 ['KT17 1RX'],
 ['GU10 5JH'],
 ['SM5 3RL'],
 ['SW9 8QH'],
 ['N4 1RU', 'N4 1RU'],
 ['CR0 4QR'],
 ['CR0 1DU'],
 ['SE8 3ED'],
 ['GU11 3PR'],
 ['GU9 8NS'],
 ['TW18 4EN'],
 ['GU21 5AJ'],
 ['OX14 5DH'],
 ['GU34 1BX'],
 ['GU2 9PB'],
 ['GU1 1BA'],
 ['HP5 3HL'],
 ['GU7 1RG'],
 ['GU7 1FN'],
 ['GU35 9AH'],
 ['OX2 0JB'],
 ['GU27 2QA'],
 ['TW1 3JZ'],
 ['KT22 8BZ'],
 ['TW18 4EN'],
 ['TW1 3JZ'],
 ['GU21 5AJ'],
 ['HP5 3HL'],
 ['GU2 9PB'],
 ['GU1 1BA'],
 ['KT22 8BZ'],
 ['GU11 3PR'],
 ['SW16 4LS'],
 ['GU7 1FN'],
 ['CR7 8RX'],
 ['GU7 1RG'],
 ['N13 4BS'],
 ['GU9 8NS'],
 ['CR0 1DF'],
 ['CR0 5SQ'],
 ['GU6 8AT'],
 ['GU27 2QA'],
 ['GU34 1BX'],
 ['TW18 4EN'],
 ['HP5 3HL'],
 ['GU21 5AJ'],
 ['TW1 3JZ'],
 ['GU2 9PB'],
 ['GU11 3PR'],
 ['GU1 1BA'],
 ['KT22 8BZ'],
 ['GU9 8NS'],
 ['GU7 1FN'],
 ['GU7 1RG'],
 ['SW16 4LS'],
 ['N13 4BS'],
 ['CR7 8RX'],
 ['OX14 5DH'],
 ['GU6 8AT'],
 ['CR0 1DF'],
 ['GU34 1BX'],
 ['CR0 5SQ'],
 ['GU35 9AH'],
 ['GU27 2QA'],
 ['BS2 8FJ'],
 ['BS16 5BS'],
 ['CF24 4EL'],
 ['OX14 5DH'],
 ['OX2 0JB']]

In [27]:
df_pc=pd.DataFrame(postcode,columns=['Postcode','Index'])

In [28]:
df_pc = df_pc.drop(columns='Index')

In [29]:
df_pc

     Postcode
0     RG1 4SJ
1     RG6 4UW
2    GU15 3JS
3    HP12 4TY
4    HP12 3RE
..        ...
598   BS2 8FJ
599  BS16 5BS
600  CF24 4EL
601  OX14 5DH
602   OX2 0JB

[603 rows x 1 columns]

In [30]:
df

,city,prop_type,prop_desc,prop_price,prop_size(lower),prop_size(upper)
0,reading,1,"3rd Floor Office With Entry Phone System, Thir...",340000.00,1340,None
1,reading,1,"Unit 1 Cutbush Court, Danehill, Reading, RG6 4UW",550000.00,685,"2,100"
7,reading,1,"Parkgate House, 185-187 London Road, Camberley...",210000.00,461,None
10,reading,1,"Office Building, May Suit Other Uses, WG House...",900000.00,3502,None
11,reading,1,"Offices Suitable For Alternative Uses, 4 Newma...",457500.00,2034,None
...,...,...,...,...,...,...
1327,bristol,6,43 Bed Student Accommodation Investment Opport...,4950000.00,1,"10,944"
1329,bristol,6,"56 Staple Hill Road, Bristol, BS16 5BS",260000.00,3000,None
1334,bristol,6,For Sale - Student Development Opportunity in ...,600000.00,4014,None
1336,swindon,6,"98 Ock Street, Abingdon, OX14 5DH",200000.00,1012,None
1339,swindon,6,"Willow Court, Minns Business Park, Oxford, OX2...",8500000.00,22526,None

In [31]:
df.reset_index(drop=True,inplace=True)

In [32]:
df

,city,prop_type,prop_desc,prop_price,prop_size(lower),prop_size(upper)
0,reading,1,"3rd Floor Office With Entry Phone System, Thir...",340000.00,1340,None
1,reading,1,"Unit 1 Cutbush Court, Danehill, Reading, RG6 4UW",550000.00,685,"2,100"
2,reading,1,"Parkgate House, 185-187 London Road, Camberley...",210000.00,461,None
3,reading,1,"Office Building, May Suit Other Uses, WG House...",900000.00,3502,None
4,reading,1,"Offices Suitable For Alternative Uses, 4 Newma...",457500.00,2034,None
...,...,...,...,...,...,...
598,bristol,6,43 Bed Student Accommodation Investment Opport...,4950000.00,1,"10,944"
599,bristol,6,"56 Staple Hill Road, Bristol, BS16 5BS",260000.00,3000,None
600,bristol,6,For Sale - Student Development Opportunity in ...,600000.00,4014,None
601,swindon,6,"98 Ock Street, Abingdon, OX14 5DH",200000.00,1012,None
602,swindon,6,"Willow Court, Minns Business Park, Oxford, OX2...",8500000.00,22526,None

In [33]:
df['post_code']=df_pc

/Users/asadimam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
df

,city,prop_type,prop_desc,prop_price,prop_size(lower),prop_size(upper),post_code
0,reading,1,"3rd Floor Office With Entry Phone System, Thir...",340000.00,1340,None,RG1 4SJ
1,reading,1,"Unit 1 Cutbush Court, Danehill, Reading, RG6 4UW",550000.00,685,"2,100",RG6 4UW
2,reading,1,"Parkgate House, 185-187 London Road, Camberley...",210000.00,461,None,GU15 3JS
3,reading,1,"Office Building, May Suit Other Uses, WG House...",900000.00,3502,None,HP12 4TY
4,reading,1,"Offices Suitable For Alternative Uses, 4 Newma...",457500.00,2034,None,HP12 3RE
...,...,...,...,...,...,...,...
598,bristol,6,43 Bed Student Accommodation Investment Opport...,4950000.00,1,"10,944",BS2 8FJ
599,bristol,6,"56 Staple Hill Road, Bristol, BS16 5BS",260000.00,3000,None,BS16 5BS
600,bristol,6,For Sale - Student Development Opportunity in ...,600000.00,4014,None,CF24 4EL
601,swindon,6,"98 Ock Street, Abingdon, OX14 5DH",200000.00,1012,None,OX14 5DH
602,swindon,6,"Willow Court, Minns Business Park, Oxford, OX2...",8500000.00,22526,None,OX2 0JB

In [42]:
pc =df_pc['Postcode'].astype(str)
pc

0       RG1 4SJ
1       RG6 4UW
2      GU15 3JS
3      HP12 4TY
4      HP12 3RE
         ...
598     BS2 8FJ
599    BS16 5BS
600    CF24 4EL
601    OX14 5DH
602     OX2 0JB
Name: Postcode, Length: 603, dtype: object

In [43]:
type(pc)

pandas.core.series.Series

In [46]:
regex = "^(?:(?P<a1>[Gg][Ii][Rr])(?P<d1>) (?P<s1>0)(?P<u1>[Aa]{2}))|(?:(?:(?:(?P<a2>[A-Za-z])(?P<d2>[0-9]{1,2}))|(?:(?:(?P<a3>[A-Za-z][A-Ha-hJ-Yj-y])(?P<d3>[0-9]{1,2}))|(?:(?:(?P<a4>[A-Za-z])(?P<d4>[0-9][A-Za-z]))|(?:(?P<a5>[A-Za-z][A-Ha-hJ-Yj-y])(?P<d5>[0-9]?[A-Za-z]))))) (?P<s2>[0-9])(?P<u2>[A-Za-z]{2}))$"
pc_parts = pc.str.extract(regex, re.IGNORECASE, expand=True)

pc_parsed = pc.reset_index()
pc_parsed['postcode_area'] = pd.concat([pc_parts[['a%s'%i]] for i in range(1,6)], axis=1).bfill(axis=1).iloc[:,0]
pc_parsed['postcode_district_part'] = pd.concat([pc_parts[['d%s'%i]] for i in range(1,6)], axis=1).bfill(axis=1).iloc[:,0]
pc_parsed['postcode_sector_part'] = pd.concat([pc_parts[['s%s'%i]] for i in range(1,3)], axis=1).bfill(axis=1).iloc[:,0]
pc_parsed['postcode_district'] = pc_parsed['postcode_area'] + pc_parsed['postcode_district_part']
pc_parsed['postcode_sector'] = pc_parsed['postcode_area'] + pc_parsed['postcode_district_part'] + ' ' + pc_parsed['postcode_sector_part']
pc_parsed = pc_parsed[['postcode_area','postcode_district','postcode_sector']]
pc_parsed

    postcode_area postcode_district postcode_sector
0              RG               RG1           RG1 4
1              RG               RG6           RG6 4
2              GU              GU15          GU15 3
3              HP              HP12          HP12 4
4              HP              HP12          HP12 3
..            ...               ...             ...
598            BS               BS2           BS2 8
599            BS              BS16          BS16 5
600            CF              CF24          CF24 4
601            OX              OX14          OX14 5
602            OX               OX2           OX2 0

[603 rows x 3 columns]

In [47]:
df['outcode']=pc_parsed['postcode_area']

/Users/asadimam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [48]:
df

,city,prop_type,prop_desc,prop_price,prop_size(lower),prop_size(upper),post_code,outcode
0,reading,1,"3rd Floor Office With Entry Phone System, Thir...",340000.00,1340,None,RG1 4SJ,RG
1,reading,1,"Unit 1 Cutbush Court, Danehill, Reading, RG6 4UW",550000.00,685,"2,100",RG6 4UW,RG
2,reading,1,"Parkgate House, 185-187 London Road, Camberley...",210000.00,461,None,GU15 3JS,GU
3,reading,1,"Office Building, May Suit Other Uses, WG House...",900000.00,3502,None,HP12 4TY,HP
4,reading,1,"Offices Suitable For Alternative Uses, 4 Newma...",457500.00,2034,None,HP12 3RE,HP
...,...,...,...,...,...,...,...,...
598,bristol,6,43 Bed Student Accommodation Investment Opport...,4950000.00,1,"10,944",BS2 8FJ,BS
599,bristol,6,"56 Staple Hill Road, Bristol, BS16 5BS",260000.00,3000,None,BS16 5BS,BS
600,bristol,6,For Sale - Student Development Opportunity in ...,600000.00,4014,None,CF24 4EL,CF
601,swindon,6,"98 Ock Street, Abingdon, OX14 5DH",200000.00,1012,None,OX14 5DH,OX
602,swindon,6,"Willow Court, Minns Business Park, Oxford, OX2...",8500000.00,22526,None,OX2 0JB,OX

In [54]:
df_preproc = df[['city','prop_type','prop_size(lower)','outcode','prop_price']]

In [55]:
df_preproc

        city  prop_type prop_size(lower) outcode  prop_price
0    reading          1            1340       RG   340000.00
1    reading          1             685       RG   550000.00
2    reading          1             461       GU   210000.00
3    reading          1            3502       HP   900000.00
4    reading          1            2034       HP   457500.00
..       ...        ...              ...     ...         ...
598  bristol          6               1       BS  4950000.00
599  bristol          6            3000       BS   260000.00
600  bristol          6            4014       CF   600000.00
601  swindon          6            1012       OX   200000.00
602  swindon          6           22526       OX  8500000.00

[603 rows x 5 columns]

In [60]:
df_preproc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 5 columns):
city                603 non-null object
prop_type           603 non-null int64
prop_size(lower)    603 non-null object
outcode             601 non-null object
prop_price          603 non-null object
dtypes: int64(1), object(4)
memory usage: 23.7+ KB

In [64]:
df_preproc['prop_size(lower)'] = df_preproc['prop_size(lower)'].astype(int)

/Users/asadimam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [65]:
df_preproc['prop_price'] = df_preproc['prop_price'].astype(float)

/Users/asadimam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [66]:
df_preproc.dtypes

city                 object
prop_type             int64
prop_size(lower)    float64
outcode              object
prop_price          float64
dtype: object

In [69]:
df_preproc.describe().astype(int)

       prop_type  prop_size(lower)  prop_price
count        603               603         603
mean           3              9990     1148302
std            1             40923     1630426
min            1                 1         160
25%            2              1259      350000
50%            3              2030      595000
75%            4              4758     1055000
max            6            442758    12000000

In [70]:
df_revised = df_preproc[df_preproc['prop_size(lower)'] < 100]

In [71]:
df_revised

        city  prop_type  prop_size(lower) outcode  prop_price
598  bristol          6               1.0      BS   4950000.0

In [86]:
# delete all rows for which column 'Age' has value greater than 30 and Country is India 
indexNames = df_preproc[df_preproc['prop_size(lower)'] <= 1000].index
df_preproc.drop(indexNames , inplace=True)

indexNames = df_preproc[df_preproc['prop_price'] <= 1000].index
df_preproc.drop(indexNames , inplace=True)
 
# dfObj.drop(indexNames , inplace=True)

In [87]:
df_preproc

           city  prop_type  prop_size(lower) outcode  prop_price
0       reading          1            1340.0      RG    340000.0
3       reading          1            3502.0      HP    900000.0
4       reading          1            2034.0      HP    457500.0
5       reading          1            4141.0      GU    975000.0
6       reading          1            1065.0      HP    295000.0
..          ...        ...               ...     ...         ...
597  maidenhead          6            1800.0      GU    425000.0
599     bristol          6            3000.0      BS    260000.0
600     bristol          6            4014.0      CF    600000.0
601     swindon          6            1012.0      OX    200000.0
602     swindon          6           22526.0      OX   8500000.0

[481 rows x 5 columns]

In [88]:
df_preproc.describe().astype(int)

       prop_type  prop_size(lower)  prop_price
count        481               481         481
mean           3             12231     1349584
std            1             45535     1752908
min            1              1012      110000
25%            2              1695      450000
50%            3              2637      750000
75%            4              6895     1250000
max            6            442758    12000000

In [89]:
df_preproc.to_csv('cleaned_data.csv',index=False)

In [90]:
df_preproc

           city  prop_type  prop_size(lower) outcode  prop_price
0       reading          1            1340.0      RG    340000.0
3       reading          1            3502.0      HP    900000.0
4       reading          1            2034.0      HP    457500.0
5       reading          1            4141.0      GU    975000.0
6       reading          1            1065.0      HP    295000.0
..          ...        ...               ...     ...         ...
597  maidenhead          6            1800.0      GU    425000.0
599     bristol          6            3000.0      BS    260000.0
600     bristol          6            4014.0      CF    600000.0
601     swindon          6            1012.0      OX    200000.0
602     swindon          6           22526.0      OX   8500000.0

[481 rows x 5 columns]

# Exploratory Data Analysis

In [91]:
import matplotlib.pyplot as plt
import seaborn as sns

In [93]:
plt.figure(figsize=(20,10))
df_preproc.corr()

                  prop_type  prop_size(lower)  prop_price
prop_type          1.000000          0.016511   -0.071366
prop_size(lower)   0.016511          1.000000    0.152702
prop_price        -0.071366          0.152702    1.000000